{{template "base" .}}

{{define "content"}}
<div class="container">
	<div class="row">
		<div class="col">
			<h1 class="text-center mt-4">Make Reserveration</h1>
				<form method="post" action="" class="needs-validation" novalidate>
					<div class="form-group mt-5">
						<label for="first_name">First name:</label>
						<input type="text" name="first_name" id="first_name" required autocomplete="off">
					</div>
					<div class="form-group">
						<label for="last_name">Last name:</label>
						<input type="text" name="last_name" id="last_name" required autocomplete="off">
					</div>
					<div class="form-group">
						<label for="email">Email:</label>
						<input type="email" name="email" id="email" required autocomplete="off">
					</div>
					<div class="form-group">
						<label for="phone">Phone number:</label>
						<input type="text" name="phone" id="phone" required autocomplete="off">
					</div>

					<hr>

					<input type="submit" class="btn btn-primary" value="Make Reservation">
				</form>
		</div>
	</div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
	crossorigin="anonymous"></script>
{{end}}